nav{

    background: hsla(26, 51%, 42%, 1);

background: linear-gradient(270deg, hsla(26, 51%, 42%, 1) 0%, hsla(0, 0%, 100%, 1) 100%);

background: -moz-linear-gradient(270deg, hsla(26, 51%, 42%, 1) 0%, hsla(0, 0%, 100%, 1) 100%);

background: -webkit-linear-gradient(270deg, hsla(26, 51%, 42%, 1) 0%, hsla(0, 0%, 100%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#A06334", endColorstr="#FFFFFF", GradientType=1 );
}
.a-nav{
    color: #000000;
    text-decoration: none;
    margin: 20px;
    padding: 5px;
    font-weight: bold;
}
.home{
    height: 100vh;
    width: 101%;
    font-weight: bold;
    font-size: 30px;
    background-image: url('../image/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.text-segment {
    display: inline-block;
  }
  
  .cursor {
    visibility: visible;
    color: #000000;
    animation: blink-caret 0.8s step-end infinite;
  }
  
  @keyframes blink-caret {
    50% {
      visibility: hidden;
    }
  }
  
  